body
{   margin: 0;
    padding: 0;
}

textarea, input, select
{
    width: 100%;
    padding: 16px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Ubuntu, serif;
}

input, select
{
    height: 40px;
}

select
{
    padding: 0 16px 0 15px;
}

i
{
    position: absolute;
    top: 20px;
    right: 15px;
    display: inline;
    color: gray;
}

.row
{
    display: flex;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.header
{
    height: 50px;
    background-color: #00BFFF;
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
    padding-top: 15px;
    font-family: Ubuntu, serif;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}

.input-container
{
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding: 0;
    margin: 0 2px 0 2px;
    box-sizing: border-box;
}

.input-button
{
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: aqua;
    display: inline-block;
    font-size: 16px;
}